# === Visual Studio ===
.vs/
[Bb]in/
[Oo]bj/
*.user
*.suo

# === NuGet (ВАЖНО!) ===
packages/
*.nupkg
*.nuspec

# === Node ===
node_modules/

# === Большие данные (проверьте, нужны ли на GitHub) ===
Site/photo_zone/
Site/present_obj/
Site/download/
Site/PriceList/
Site/photo_ob/

# === Прочее ===
*.tmp
*.log
*.bak
.vscode/
.idea/
*.cache
*.zip
*.rar

